<div class="container">
    <h1>{{welcome}}</h1>
<ul>
    <li *ngFor="let task of tasks()">
        {{task}} 
    </li>
</ul>


<hr/>

<img [src]="person().avatar" alt="imagen">
<p>(change) </p>
<input type="number" [value]="person().age"  (change)="seleccionar($event)">
<button  [disabled]="disabled">Edad</button>
<p>Nombre: {{ person().name }}</p>

<hr/>

<button (click)="clickHendler()">click</button>
<hr/>
<button (dblclick)="clickHendler()">doble click</button>
<p>(keydown) </p>
<input type="text" [value]="person().name"  (keydown)="keydownHendler($event)">
<p>seleccionar</p>


<p>(keydown.enter) </p>
<input type="text" [value]="person().name"  (keydown.enter)="clickHendler()">

<hr/>

<ul>
    <p>total: {{tasks().length}}</p>
    <li *ngFor="let task of tasks() index as i">
     {{i}}   {{task}} 
    </li>
</ul>

<h1>signals</h1>
<input type="number" [value]="person().age"  (change)="changeAge($event)">
<p >nombre: {{person().name}}</p>
<p >Edad: {{person().age}}</p>
 <h2> if else new</h2>

 @if(person().name === 'nicolas' && person().age > 18){
   <strong>soy nicolas y soy mayor de edad</strong>
 }@else {
    <i> soy nicolas y soy menor de edad</i>
 }
 
<div *ngIf="person().name === 'jose' && person().age > 18" >
    soy jose y soy mayor de edad
</div>

<div *ngIf="person().name === 'nicolas' && person().age > 18; else miBloque">
    soy Nicolas y soy mayor de edad
</div>
<ng-template #miBloque>
    soy Nicolas y soy menor de Edad
</ng-template>
<hr/>
<input type="text" [value]="person().name"  (change)="changeName($event)">

<div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'"> yo soy nicolas </p>
    <p *ngSwitchCase="'julian'"> yo soy julian </p>
    <p *ngSwitchCase="'jesus'"> yo soy jesus </p>
    <p *ngSwitchCase="'jose'"> yo soy jose </p>
    <p *ngSwitchDefault=""> yo no soy nadie </p>
</div>
<hr/>
<input type="color" [formControl]="colorCtrl">
<p> color: {{colorCtrl.value}}</p>;

<svg>
    <g>
        <rect x="0" y="0" height=" 100" width ="100"[attr.fill]="colorCtrl.value" />
    </g>
</svg>

<hr/>
<input type="number" [formControl]="widthCtrl">
<span class="box" [style.width.px]="widthCtrl.value"></span>
<hr/>

<p>
    <input type="text" [formControl]="nameCtrl"> <br/>
    <span class="masenge-error" [class.show]="nameCtrl.invalid && nameCtrl.touched ">Nombre invalido</span>
</p>


<h2> new anterior </h2>

<ul>
    <p>total: {{tasks().length}}</p>
    <li *ngFor="let task of tasks() index as i">
     {{i}}   {{task}} 
    </li>
</ul>

<h2>  for new </h2>
 
<ul>
@for(task of tasks(); track task; let i = $index ){
        <li> {{i}} {{task}}</li>
    }@empty {
        <li> <strong> La Lista Esta Vacia</strong></li>
    }
</ul>


<h2> switch anterior  </h2>
<div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'"> yo soy nicolas </p>
    <p *ngSwitchCase="'julian'"> yo soy julian </p>
    <p *ngSwitchCase="'jesus'"> yo soy jesus </p>
    <p *ngSwitchCase="'jose'"> yo soy jose </p>
    <p *ngSwitchDefault=""> yo no soy nadie </p>
</div>


<h2> switch new </h2>

@switch (person().name) {
    @case ('nicolas') {
        <p>soy nicolas </p>

    }@case ('david') {
        <p> soy david </p>

    }@case ( 'Maria'){
       <p> soy Maria </p>
    }@default {
        <p> no soy nadie </p>
    }
}

</div>
