<section class="todoapp">
    <header class="header">
      <div class="container">
        <h1>Mi DIA</h1>
        <p>Todas mis tareas en un solo lugar </p>
        <input
          class="new-todo"
          placeholder="Escriba una nueva tarea"
          autofocus
          type="text"
          [formControl]="newTaskCtrl"
          (keydown.enter)="changeHandler()"
        />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->

      
      <section class="main">
        <ul class="todo-list">
          <li (dblclick)="updateTasksEditingMode(i)" 
          *ngFor="let task of taskByFilter() index as i"
          [class.editing]="task.editing"
          [class.completed]="task.completed"> 
            <div class="view">
              <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(i)" />
              <label>{{task.title}}</label>
              <button class="destroy"(click)="deleteTask(i)"></button>
            </div>
            <input class="edit" (keydown.enter)= "updateTasksText(i, $event)" [value]="task.title" />
          </li>
          <!--
          <li class= "completed">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>JavaScript</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="compra un unicornio" />
          </li>
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>preparar platos </label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li>
        -->
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      <footer class="footer" *ngIf="taskByFilter().length>0">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count"><strong>{{taskByFilter().length}}</strong>
        <span *ngIf="taskByFilter().length === 1; else  elseBlock"> item</span>
        <ng-template #elseBlock> intems</ng-template>
        </span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a (click)="changueFilter('seleccione')" [class.selected]= 'filter() === "seleccione"'>todos</a>
          </li>
          <li>
            <a  (click)="changueFilter('pendiente')" [class.selected]= 'filter() === "pendiente"'>pendiente</a>
          </li>
          <li>
            <a (click)="changueFilter('completado')"  [class.selected]= 'filter() === "completado"'>completado</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed">borrar completado</button>
      </footer>
    </div>
  </section>


